<html>


<head>
    <meta charset="utf-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>E-Store</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>
             <!--link href="../css/light-bootstrap-dashboard.css" rel="stylesheet"></link-->   
            <script src="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.js"></script>
            <link href="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.css" type="text/css" rel="stylesheet"></link>
     <link href="../css/animate.min.css" rel="stylesheet"></link>
    <!-- link href="../css/light-bootstrap-dashboard.css" rel="stylesheet"></link-->
    <script src="../js/libraries/datetimepicker.js"></script>   
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'></link>
    <link href="../css/pe-icon-7-stroke.css" rel="stylesheet"></link>
    <script src = "../js/libraries/angular-ui-router.min.js"></script>
    <script src="../js/controllers/admin_login.js"></script>
</head>
<body ng-app="myApp" ng-controller="admin_login">
    <nav class="navbar navbar-inverse navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;E-Store</a>
                </div>
                
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                             <a ng-click="logout()">Log Out</a>
                        </li>
                        
                    </ul>
                </div>
            
        </nav>

    <div class='tableauPlaceholder' id='viz1494834332340' style='position: relative'>
        <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CM&#47;CMPE226&#47;Top10ProductCategoriesByProfi&#47;1_rss.png' style='border: none' /></a></noscript>
        <object
            class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='site_root' value='' />
            <param name='name' value='CMPE226&#47;Top10ProductCategoriesByProfi' />
            <param name='tabs' value='yes' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CM&#47;CMPE226&#47;Top10ProductCategoriesByProfi&#47;1.png'
            />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            </object>
    </div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1494834332340'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
</body>

</html>