 <div class="container">

 <div class="row">

 <form class="form-inline" style="padding-top:40px;padding-left:20px;">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" name="searchTerm" ng-model="searchTerm" id="searchTerm" >
  </div>
  <div class="radio">
    <label>
      &nbspSearch By:&nbsp
    </label>
  </div>
  <div class="radio" style="padding-left:5px;">
    <label>
      <input type="radio" value="name" ng-model="r.type">Product Name
    </label>
  </div>
  <div class="radio" style="padding-left:5px;">
    <label>
      <input type="radio" value="category" ng-model="r.type">Category
    </label>
  </div>
  <div class="radio" style="padding-left:5px;">
    <label>
      <input type="radio"  value="vendor" ng-model="r.type">Vendor Name
    </label>
  </div>
</form>
</div>
                



       
                    <div class="panel-group">
                      <div class="row">
                        <div class="col-md-6" ng-repeat="product in products | filter:search" style="padding-top:20px;">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                              <a ng-click = "product.isCollapsed = !product.isCollapsed">{{product.ProductName}}</a>
                              </h4>
                             </div>
                            <div collapse ="product.isCollapsed">
                              <div ng-show="!product.isCollapsed" class="panel-body">
                                <div class="row">
                                  <div class="col-md-12">
                                    <table class="table">
   
                                      <tbody>
                                       <tr>
                                          <td>Product Name:</td>
                                          <td>{{product.ProductName}}</td>
        
                                        </tr>
                                        <tr>
                                          <td>Category:</td>
                                          <td>{{product.Category}}</td>
        
                                        </tr>
                                        
                                        <tr>
                                          <td>Unit Price:</td>
                                          <td>{{product.ProductPrice | currency}}</td>
        
                                        </tr>
                                        <tr>
                                          <td>Vendor name:</td>
                                          <td>{{product.Name}}</td>
        
                                        </tr>
                                        

                                        <tr>
                                          <td>
                                             <button class="btn btn-success" role="button" ng-click="add(product)" ng-disabled="product.add"> 
                                               <span class="glyphicon glyphicon-plus-sign"></span>Add to Cart 
                                             </button>
                                           </td>
                                           <td>
       
                                              <button class="btn btn-danger" role="button" ng-disabled="!product.remove" ng-click="remove(product)"> 
                                                <span class="glyphicon glyphicon-remove"></span> Remove
                                              </button>

                                            </td>
                                          
        
                                        </tr>
                                       
                            
                                      </tbody>
                                    </table>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>